@import 'variables/colors';
@import 'themes/go-figure/theme';

:host {
  display: block;
  margin-top: 60px;
}

.border {
  width: 90%;
  height: 1px;
  border-top: 1px solid #aaa;
  margin: 0 auto 60px;
}

h3 {
  color: $accentColor;
  text-align: center;
  font-size: 23px;
  margin-bottom: 15px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 5px;
  width: 90%;
  margin: 0 auto;

  > * {
    margin: 10px;
    flex-basis: 200px;
  }
}

a {
  display: block;
  border: 1px solid #666;
  background-color: $accentColor;
  border-radius: 10px;

  &:hover {
    background-color: mat-color($accentPalette, 400);
  }

  >img {
    width: 100%;
  }
}