@import 'variables/colors';
@import 'variables/responsive';

.c-page-title {
  font-size: 25px;
  color: $accentColor;
  text-align: center;
  margin: 40px 0 53px;

  @media #{$mobile}
  {
    margin-top: 25px;
  }

  &__with-sub {
    margin-bottom: 7px;
  }
}