<div class="container">
  <h2 class="c-page-title c-page-title__with-sub">Draw Something</h2>
  <h3 class="c-page-subtitle">(in one continuous line)</h3>

  <div class="c-canvas-container">
    <iai-drawable-canvas
      height="400"
      (canvasInitialized)="onCanvasReady($event)"
      (drawingUpdated)="onDrawingUpdated($event)">
    </iai-drawable-canvas>
  </div>
  <div>
    <button mat-raised-button color="primary" (click)="submit()" [hidden]="!data || !data.length">Submit</button>
  </div>
</div>