<div [hidden]="maxVectorCount > 0">
  Processing results...
</div>

<div [hidden]="maxVectorCount == 0">
  <button mat-raised-button color="primary" (click)="start()">Start</button>
  <button mat-raised-button color="accent" (click)="pause()">Pause</button>
  <button mat-raised-button color="warn" (click)="stop()">Stop</button>
  t = {{t}}

  <mat-card>
    <mat-card-content>
      <div>
        <span>Vector Count: </span>
        <mat-slider
            color="primary"
            [max]="series ? series.vectors.length : 1"
            [min]="1"
            [step]="1"
            [thumbLabel]="true"
            [(ngModel)]="maxVectorCount">
        </mat-slider>
      </div>
      <div>
        <span>Animation Speed: </span>
        <mat-slider
            color="primary"
            [max]=".1"
            [min]=".001"
            [step]=".001"
            [thumbLabel]="true"
            [(ngModel)]="timeInterval">
        </mat-slider>
      </div>
      <div>
        <mat-checkbox color="primary" [(ngModel)]="showOriginal">Show Original</mat-checkbox>
      </div>
    </mat-card-content>
  </mat-card>

  <div>
    Total vectors calculated: {{maxVectorCount}}
  </div>

  <div>
    <iai-canvas
      (canvasInitialized)="onCanvasReady($event)">
    </iai-canvas>
  </div>
</div>