@import 'mixins/no-select';
@import 'variables/colors';
@import 'variables/responsive';

.processing {
  padding-top: 130px;
  text-align: center;

  @media #{$mobile}
  {
    padding: 40px 13%;
  }

  > .main {
    font-size: 25px;
    padding-bottom: 40px;
    line-height: 30px;
  }

  > .sub {
    font-style: italic;
    line-height: 21px;
  }
}

.drawing {
  text-align: center;

  > .c-canvas-container {
    position: relative;
    margin-bottom: 10px;

    > .total-vectors {
      position: absolute;
      bottom: 10px;
      right: 10px;
      font-size: 13px;
      color: #777;
      @include no-select;
    }
  }
}

.controls {
  @media #{$mobile}
  {
    display: none;
  }

  width: 700px;
  margin: 0 auto;

  > .c-flex {
    margin-bottom: 10px;
  }
}

.controls-responsive {
  display: none;
  margin: 0 auto;

  > div {
    text-align: center;
    margin-bottom: 10px;
  }

  @media #{$mobile}
  {
    display: block;
  }
}

.why {
  margin-top: 30px;
  text-align: center;

  > a {
    color: $accentColor;
    font-style: italic;
  }
}