@import 'variables/colors';

.processing {
  padding-top: 130px;
  text-align: center;

  > .main {
    font-size: 25px;
    padding-bottom: 40px;
  }

  > .sub {
    font-style: italic;
  }
}

.drawing {
  text-align: center;

  > .c-canvas-container {
    position: relative;
    margin-bottom: 10px;

    > .total-vectors {
      position: absolute;
      bottom: 10px;
      left: 590px;
      right: 0;
      margin-left: auto;
      margin-right: auto;
      font-size: 13px;
      color: #777;
    }
  }
}

.controls {
  width: 700px;
  margin: 0 auto;

  > .c-flex {
    margin-bottom: 10px;
  }
}

.why {
  margin-top: 30px;
  text-align: center;

  > a {
    color: $accentColor;
    font-style: italic;
  }
}