<h2 class="c-page-title c-page-title__with-sub">What is a Fourier Circle Drawing?</h2>
<h3 class="c-page-subtitle">This video can explain it better than we can:</h3>

<div class="video">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/r6sGWTCMz2k" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<h4>tldw:</h4>

<p>
  We use a series of spinning circles to approximate the input you drew. The more circles there are, the closer the approximation.
</p>

<h4>tldr:</h4>

<p>
  Math magic.
</p>