.video {
  text-align: center;
}

.description-title {
  text-align: center;
  margin-top: 30px;
  font-size: 20px;

}

.description {
  text-align: center;
  font-style: italic;
  margin-top: 20px;
}