@import 'mixins/no-select';
@import 'variables/colors';
@import 'variables/responsive';

.super-header {
  height: 10px;
  background-color: $accentColor;
  border-bottom: 1px solid #555;
}

.header {
  position: relative;
  border-bottom: 1px solid #bbb;
  padding: 16px 0;
  background-color: #003459;
  font-family: sans-serif;

  @media #{$mobile}
  {
    padding: 8px 0;
  }

  > div {
    flex-basis: 33%;
  }
}

.logo {
  text-align: center;

  > a {
    font-size: 1.3em;
    font-weight: 700;
    text-decoration: none;
    color: #fff;
    @include no-select;
  }
}

.left {
  > .huh {
    display: none;
    margin-left: 8%;

    @media #{$mobile}
    {
      display: block;
    }
  }
}

.right {
  text-align: right;

  > .huh {
    @media #{$mobile}
    {
      display: none;
    }
  }
}

.huh {
  font-style: italic;
  text-decoration: none;
  color: #fff;
  @include no-select;
  margin-right: 20px;
}

.draw {
  margin-right: 8%;
}

.content {
  padding: 10px;
}