$mat-cerulean: (
    50 : #e0f0f4,
    100 : #b3d8e5,
    200 : #80bfd3,
    300 : #4da5c1,
    400 : #2691b4,
    500 : #007ea7,
    600 : #00769f,
    700 : #006b96,
    800 : #00618c,
    900 : #004e7c,
    A100 : #a9daff,
    A200 : #76c4ff,
    A400 : #43aeff,
    A700 : #2aa3ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);