$mat-rich-black: (
    50 : #e0e3e4,
    100 : #b3b9bc,
    200 : #808b8f,
    300 : #4d5d62,
    400 : #263a41,
    500 : #00171f,
    600 : #00141b,
    700 : #001117,
    800 : #000d12,
    900 : #00070a,
    A100 : #4fc4ff,
    A200 : #1cb3ff,
    A400 : #009be8,
    A700 : #008ace,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);