@import '~@angular/material/theming';
@import 'rich-black.scss';
@import 'cerulean.scss';

$warnPalette:    mat-palette($mat-red);
$primaryPalette: mat-palette($mat-cerulean);
$accentPalette:  mat-palette($mat-rich-black);
$theme:          mat-light-theme($primaryPalette, $accentPalette, $warnPalette);